.master-header {
  transition: all ease-in-out .8s;
  padding: 10px;
  margin-right: 2px;
   box-sizing: border-box;
}

.master-header:hover {
  border: 2px solid rgb(123, 123, 241);
  border-radius: 5px;
  box-shadow: 1px 5px 10px 1px;
  transition: all ease-in-out .5s;
  
  margin-right: 2px;

}
/* Onlu=y Adminstration Button Apply */

@media all and (max-width:1024px) {
  .master-header {
     /* width: 40px; */
      font-size: 11px;
      padding: 0px;
      margin: 0px;
      border-radius:0px;
      box-sizing: content-box;
  }
}

@media all and (max-width: 680px) {
  .master-header {
      font-size: 8px;
      box-sizing: content-box;
  }
}
@media all and (max-width: 456px) {
  .master-header {
      font-size: 6px;
    
  }
}