.MainAdministrationNavigation-sub-module {
  /* border: 2px solid rgb(123, 123, 241); */
  transition: all ease-in-out .3s;
  padding: 10px;
  margin-right: 2px;
  border-radius: 5px;
  margin-top: 2px;
  
}

.MainAdministrationNavigation-sub-module:hover {
  border: 2px solid rgb(123, 123, 241);
  background-color: #fffeef;
  border-radius: 5px;
  box-shadow: 1px 5px 10px 1px;
  transition: all ease-in-out .3s;
  padding: 10px;
}
@media (max-width:1042px) {
  .admin-Sub-button {
      font-size: 11px;
      padding: 0px;
      margin: 0px;
      border-radius:0px;
      box-sizing: content-box;
  }
}
@media (max-width:770px) {
  .admin-Sub-button {
      font-size: 9px;
      padding: 0px;
      margin-right: -10px;
      border-radius:0px;
      box-sizing: content-box;
  }
}