.results .FetchDataLocal {
  transition: all ease-out 0.2s;
}

.results {
  list-style: none;
  padding-left: 20px;

}

.results .FetchDataLocal:hover {
  background-color: whitesmoke;
  flex-grow: 0;
  padding: 0px 5px;
  transition: all ease .2s;
}