@media (max-width: 926px) {
  .module-button {
     width: 40px;
      font-size: 11px;
      padding: 0px;
      color: chartreuse;
      margin: 0px;
      border-radius:0px;
      box-sizing: content-box;
  }
}
@media (max-width:770px) {
  .module-button {
     width: 10px;
      font-size: 8px;
      padding: 0px;
      color: rgb(218, 22, 107);
      margin: 0px;
      border-radius:0px;
      box-sizing: content-box;
  }
}