.firm-content {
  box-shadow: rgb(245, 236, 218) 0px 4px 4px 8px,
    rgb(234, 226, 211) 10px -2px 10px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgb(246, 233, 210) 0px 2px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: all step-end 2s;
  color: #8266e7;
  font-family: 'Arial', sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
}

.image-contain img {
  height: 400px;
  width: 550px;
  /* border: 2px solid #8266e7; */
  border-radius: 8px;
  transition: all ease-in-out .5s;
  /* filter: blur(1.5px); */
  border-radius: 10px;
}

.image-contain img:hover {
  transition: all ease in .5s;
  filter: none;
  border-radius: 8px;
}

iframe {
  transition: all ease-in 0.5s;
}

@media (min-width: 367px) {
  iframe {
    min-width: 60px;
    min-height: 100px;
  }
}

@media (max-width: 765px) {
  iframe {
    max-width: 700px;
    max-height: 415px;
  }
}