.home-content {
  transition: all 2s step-end;
  font-family: 'Arial', sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.image-contain img {
  height: 400px;
  width: 550px;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.image-contain img:hover {
  border-radius: 8px;
}
@media (max-width: 765px) {
  .container,
  .home-page{
    margin-top: 0px !important;
    padding: 5px !important;
  }
  /* Adjust text size for specific elements */
  .home-page p,
  .home-page .text-contain p {
    font-size: 12px !important;
    padding: 2px !important;
  }
  /* If you want to target the 'Why To Use Reckon Only?' text specifically */
  .home-page .text-contain p {
    font-size: 12px !important;
    padding: 2px !important;
  }
}
@media (min-width: 300px) and (max-width: 576px) {
  .container,
  .home-page{
    margin-top: 0px !important;
    padding: 10px !important;
  }
  /* Adjust text size for specific elements */
  .home-page p,
  .home-page .text-contain p {
    font-size: 10px !important;
    margin-top: 0px !important;
  }
  /* If you want to target the 'Why To Use Reckon Only?' text specifically */
  .home-page .text-contain p {
    font-size: 9px !important;
    padding: 0px !important;
  }
}
