.searchbar-fix {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: rgb(252, 252, 252);
  padding: 15px 0;
}
.search-input {
  width: 100%; 
  max-width: 200px;
  transition: width 0.3s ease;
}
/* Searchbar responsive & Fix Some Space */
@media (max-width:577px) {
  .search-input {
    margin-left: 110px;
    margin-top: -40px;
    min-width: 100px;
  }
}
/* Large screens (screen width > 768px) */
@media (min-width: 578px) {
  .search-input {
    max-width: 350px; 
    /* margin-top: -40px;
    min-width: 120px; */

  }
}


