.account-header{
  /* border: 2px solid rgb(123, 123, 241); */
  transition: all ease-in-out .8s;
  padding: 10px;
  margin-right: 2px;

}

.account-header:hover {
  border: 2px solid rgb(123, 123, 241);
  background-color: #fffeef;
  border-radius: 5px;
  box-shadow: 1px 5px 10px 1px;
  transition: all ease-in-out .5s;
  padding: 10px;
  margin-right: 2px;

}