.reckon-header,
.reckon-software-header{
  transition: all ease-in-out .8s;
  padding: 10px;
  margin-right: 2px;
   box-sizing: border-box;
}

.reckon-header:hover,
.reckon-software-header:hover {
  border: 2px solid rgb(77, 216, 238);
  border-radius: 5px;
  box-shadow: 1px 5px 10px 1px;
  transition: all ease-in-out .5s;
  margin-right: 2px;
}