#dropdown-basic-button{
  padding-left: 0px !important;
}
@media (max-width: 926px) {
  .module-button {
     /* width: 40px; */
      font-size: 11px;
      padding: 0px;
      margin: 0px;
      border-radius:0px;
      box-sizing: content-box;
      margin-right: -20px;
  }
}
@media (max-width:770px) {
  .module-button {
     /* width: 10px; */
      font-size: 8px;
      padding: 0px;
      margin: 0px;
      border-radius:0px;
      box-sizing: content-box;
      margin-left: -20px;
  }
}
@media 
(max-width:450px) {
  #dropdown-basic-button{
    width: 10px !important;
  }
}