 
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.blinking-r {
  font-size: 120px;
  color: #3498db;
  animation: blink 1s infinite;
}


@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }

}
