/* Ledger_Master.css */

/* Adjust padding and font size based on screen size */
.dropdown-item-responsive {
  padding: 10px;
}

@media (max-width: 576px) {
  .dropdown-item-responsive {
    padding: 8px;
    font-size: 14px; /* Adjust font size for smaller screens */
  }
  .dropdown-item-responsive .me-2 {
    margin-right: 5px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .dropdown-item-responsive {
    padding: 9px;
    font-size: 15px;
  }
}
